<ion-view view-title="会员主页面"   hide-nav-bar="true">
 <div class="bar bar-header bar-royal" >
           <!-- <a href="#/app/capture" class="button button-icon icon ion-ios-arrow-left ">返回</a>-->
				<h1 class="title" >会员主页面</h1>
  </div>
  <ion-content class="padding" style="padding: 0;background:#F1F1F1;">
   <div class="header">
    <!--<div class="padding" style="background: transparent;">-->
      <!--&lt;!&ndash;<h4 style="color: #FFFFFF;margin-left: 10px">中化</h4>&ndash;&gt;-->
    <!--</div>-->

    <div  style="text-align: center;padding-top:50px">
      <img src="img/max.png" style="width:100px;border-radius:50%;">
    </div>
  </div>
    <!--&lt;!&ndash;<div class="header">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="padding" style="background: transparent;">&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<h4 style="color: #FFFFFF;margin-left: 10px">中化</h4>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div  style="text-align: center;padding-top:30px">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="img/max.png" style="width:100px;border-radius:50%;">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
     <!--&lt;!&ndash;<div style="text-align: center;font-size:32px;color: #fff;padding: 15px;">-->
            <!--0.00元-->
     <!--</div>-->
     <!--<div>-->
         <!--<p style="text-align:center;font-size:16px;color:white;padding-bottom: 10px;opacity: 0.5">卡号：4615194</p>-->
     <!--</div>-->
   <!--</div>-->
   <div style=" text-indent:2em;font-size:20px;margin:25px 19px;line-height:28px;">
   		<p>尊敬的顾客您好，您现在还不是中华会员或未绑定会员，是否需要申请加入或绑定已有会员卡？</p>
   </div>


	<div style="text-align:center;padding:10px;">
    	<button class="button button-calm" style="width:100%;margin:-20px 0;" ng-click="getIntegralCard()">
    	绑定会员
		</button>
        <button class="button button-calm" style="width:100%;margin:20px 0;" ng-click="getRecharge()">
    	申请会员
		</button>

    </div>




  </ion-content>
</ion-view>
