<ion-view view-title="发票管理"   hide-nav-bar="true"style="background:#F1F1F1;">
  <!--<div class="bar bar-header bar-royal" >-->


    <!--<h1 class="title" style="color:white;">中化</h1>-->
  <!--</div>-->
  <ion-content class="padding" style="padding: 0;background:#F1F1F1;">

    <!--<div class="header">-->
      <!--<div style="text-align: center;padding-top: 10px">-->
        <!--<img src="img/max.png" style="width:100px;border-radius:50%;">-->
      <!--</div>-->
      <!--<div style="text-align: center;font-size:32px;color: #fff;padding: 15px;">-->
        <!--0.00元-->
      <!--</div>-->
      <!--<div>-->
        <!--<p style="text-align:center;font-size:16px;color:white;padding-bottom: 10px;">卡号：4615194</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <form name="myForm" style="margin-top:30px;">
      <div class="list list-inset" style="margin-left: 14px;margin-right:10px;padding:0px;">
        <label class="item item-input" style="padding: 6px 0 5px 6px;    width: 110%;">
          <i class="icon ion-chatboxes placeholder-icon iconStyle" ></i>
         发票抬头:<input style="text-indent: 10px;padding-right:10px;" id="invoiceAccount" name="invoiceAccount"
                      ng-model="content.invoice_account" type="text" >
        </label>
        <label class="item item-input" style="padding: 6px 0px 5px 6px;width:110%">
          <i class="icon ion-ios-paper placeholder-icon iconStyle"></i>
          发票科目:<input type="text" style="text-indent: 10px;padding-right:10px;" id="invoiceName" name="invoiceName"
                      ng-model="content.invoice_name" >
        </label>
        <label class="item item-input"style="padding: 6px 0 5px 6px;width:110%">
          <i class="icon ion-home placeholder-icon iconStyle"></i>
          邮寄地址:<input type="text" style="text-indent:10px;padding-right:10px;" id="postAddr" name="postAddr"
                      ng-model="content.post_addr" >
        </label>
        <!--<label class="item item-input"style="padding: 6px 0 5px 6px;width:110%">-->
          <!--<i class="icon ion-pricetags placeholder-icon iconStyle"></i>-->
          <!--我的卡卷:<input type="text" style="text-indent:10px;padding-right:10px;" id="cardVolume" name="postAddr"-->
                      <!--ng-model="content.post_addr" value="{{content.card_volume}}">-->
        <!--</label>-->
        <!--<label class="item item-input"style="padding: 6px 0 5px 6px;width:110%">-->
          <!--<i class="icon ion-beaker placeholder-icon iconStyle"></i>-->
          <!--附近油站:<input type="text" style="text-indent:10px;padding-right:10px;" id="stationName" name="postAddr"-->
                      <!--ng-model="content.post_addr" value="{{content.station_name}}">-->
        <!--</label>-->
        <!--<label class="item item-input">-->
          <!--联系电话:<input type="text" style="text-indent: 20px" id="telphone" name="telphone"-->
                      <!--ng-model="content.telphone" value="{{content.telphone}}">-->
        <!--</label>-->
      </div>
    </form>
    <div style="padding:10px;">
      <button class="button button-calm" ng-disabled="!(myForm.invoiceAccount.$dirty||myForm.invoiceName.$dirty||myForm.postAddr.$dirty)" style="width:95%;margin:10px;"ng-click="saveIovoice()">
        保存
      </button>
    </div>

  </ion-content>
</ion-view>
