<ion-view view-title="一维码扫描" hide-nav-bar="true" class="tabs-icon-top tabs-positie {{hideTabs}}">

    <ion-content  class="content" ng-click="clickGoBack()">
          <div style="transform: rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);position: relative;left: 18%;">
            <div id="bcTarget_b" style="position: absolute;left: 50%"></div>
          </div>


   </ion-content>
  <div style="text-align: center;font-size: 28px;color: black;margin-top: 242px;margin-left: -75px;width: 100%;transform: rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);">
    <span ng-bind="cardno"></span>
  </div>
</ion-view>


