<ion-view view-title="帮助"  hide-nav-bar="true"style="background:#F1F1F1;">
  <!--<div class="bar bar-header bar-royal"style="background-color: #">-->
            <!--&lt;!&ndash;<a href="#/app/capture" class="button button-icon icon ion-ios-arrow-left ">返回</a>&ndash;&gt;-->
            <!--<h1 class="title">中化</h1>-->
  <!--</div>-->
    <ion-content class="content " style="background:#F1F1F1;">
      <div style="padding: 15px 10px;text-align:center;">
            <h3>中化石油会员卡帮助</h3>
      </div>
      <div style="padding:0px 15px 10px 15px;text-align: justify">
        <p style="font-size:18px;color:#000;font-weight:900">1.哪里可以使用会员卡？</p>
        <p>您可在任一福建省内中化石油加油站及中化石油合作加油站使用。不可跨省使用。</p>
        <p style="font-size:18px;color:#000;font-weight:900">2.会员卡如何积分？</p>
        <p>会员单次消费油品10升以上开始积分，常规消费汽油每升积10个积分，消费柴油每升积5个积分。</p>
        <p style="font-size:18px;color:#000;font-weight:900">3.积分何时生效？为什么消费当日无法查询？</p>
        <p>中化会员卡消费积分一般于消费后次日生效，顾客可于消费次日查询消费记录。</p>
        <p style="font-size:18px;color:#000;font-weight:900">4.积分如何使用？</p>
        <p>会员卡内积分可抵扣油品和非油品，第一次兑换前需将原始密码修改后方可使用。</p>
        <p style="font-size:18px;color:#000;font-weight:900">5.如何查询积分？</p>
        <p>顾客可在中化石油服务窗点击“积分明细”进行查询。</p>
        <p style="font-size:18px;color:#000;font-weight:900">6.积分是否有效期？</p>
        <p>积分有效期两个自然年，到期将自动清零。持卡人销户，积分自动清零。</p>
        <p style="font-size:18px;color:#000;font-weight:900">7.密码忘记如何处理？</p>
        <p>持卡用户可持本人有效身份证前往油站办理密码重置功能。</p>
        <p style="font-size:18px;color:#000;font-weight:900">8.是否可以办理实体卡？</p>
        <p>申请人可办理电子会员卡，或持有效身份证件，前往福建省内中化石油加油站及中化石油合作加油站办理实体卡，激活成功即可使用。实体卡工本费10元/张。</p>
        <p style="font-size:18px;color:#000;font-weight:900">9.使用会员卡遇到问题该如何解决？</p>
        <p>请点击查看会员卡帮助，或者致电我们的服务热线400 6618 112</p>
      </div>
    </ion-content>
</ion-view>


